.about{
    padding-top: 60px;
    /* border: 1px solid red; */
    height: auto;
    height: auto;
}
.common_area_section{
    /* border:1px solid greenyellow; */
    height: auto;
    width: 90%;
    margin: auto;
   
}
#commonsection{
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
}
#commonsection>div{
    /* border: 2px solid black; */
    border-bottom: 2px solid black;
    margin: auto;
    width: fit-content;
    padding-left: 30px;
    padding-right:30px;
}
.aboutsection{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    /* border: 1px solid green; */

    display: flex;
    /* justify-items: center; */
    /* justify-content: space-evenly; */
    gap: 40px;
}
.leftabout{
    /* border: 1px solid saddlebrown; */
    margin: auto;
}
#gfgimg{
    height: auto;
    max-width: 100%;
}
.rightabout{
    /* border: 1px solid red; */
    margin: 10px;
    font-weight: bold;
}

@media (max-width:640px) {
    .aboutsection{
        width: 90%;
        margin: auto;
        margin-top: 10px;
        /* border: 1px solid green; */
    
        display: block;
        /* justify-items: center; */
        justify-content: space-evenly;
        gap: 40px;
    }
    
   
}