.githubarea{
    /* border: 1px solid; */
    padding: 60px;
}
#githusb{
    /* border: 1px solid ; */
    padding-top: 60px;
    border-radius: 10px;
    max-width: 100%;
    height: 100vh;
}
.githubcard{
    border: 2px solid crimson;
    border-radius: 10px;
    max-width: 90%;
    margin: auto;
}