.maxwidth{
    border: 1px solid red;

    height: 100vh;
    width: auto;
    margin-top: 10px;
    /* background-color: rgb(251, 133, 255); */
}
.profile{
    /* border: 1px solid greenyellow; */
    width: 90%;
    height: 90vh;
    margin:30px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.profile-image>img{
    width: 200px;
    height: 200px;

    border: 5px solid rgb(150, 133, 136);
    border-right-color: crimson;
    border-left-color: crimson;
    border-block-color: rgb(168, 27, 74);

    border-radius: 50%;
}
.text-1,.text-3{
    font-size: large;
    font-weight: bold;
}
.text-2{
    font-size: xx-large;
    font-weight: bolder;
    color: crimson;
}
.down-hire{
    display: flex;
    gap: 10px;
}
.down-hire>div{
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    /* border-right-color: crimson;
    border-left-color: crimson; */

    background-color: crimson;
    
}
.down-hire>div>a{
    color: white;
    text-decoration: dashed;
}
.down-hire>:hover{
    background-color: rgb(25, 14, 54);
}

@media (max-width:640px) {
    .profile{
        display: block;
        text-align: center;
        gap: 30px;
    }
    .down-hire{
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }
}