.project{
    /* border: 1px solid red; */
    padding-top: 60px;
    max-width: 100%;
    height: auto;
    margin: auto;
}
.projectarea{
    /* border: 1px solid red; */
    max-width: 90%;
    margin:40px auto;
    /* height: 80vh; */

    display: flex;
    align-items: baseline;
    /* flex-wrap: wrap; */
    gap: 10px;
    /* justify-content: space-evenly; */
}
.projectcard{
    border: 2px solid crimson;

    /* box-sizing: border-box; */
    /* width: 30%; */
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
#projectimg{
    /* border: 1px solid red; */
    width: 100%;
}
#imgproject{
    max-width:100%;
    height: auto;
    border: 1px solid;
    border-radius: 10px;
}
.deplbox{
    display: flex;
    justify-content: space-evenly;

}
.deplbox>div>a:hover{
    color: crimson;
}

@media (max-width:840px) {
    .projectarea{
        /* border: 1px solid red; */
        max-width: 90%;
        margin:40px auto;
        /* height: 80vh; */
    
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        align-items: baseline;
        /* flex-wrap: wrap; */
        gap: 10px;
        /* justify-content: space-evenly; */
    }
}
@media (max-width:640px) {
    .projectarea{
        /* border: 1px solid red; */
        max-width: 90%;
        margin:40px auto;
        /* height: 80vh; */
    
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
        align-items: baseline;
        /* flex-wrap: wrap; */
        gap: 10px;
        /* justify-content: space-evenly; */
    }
}   
  
