.skill{
    margin-top: 60px;
    /* border: 1px solid red; */

    /* padding: 40px; */
}
.skill-content{
    /* border: 1px solid green; */
    max-width: 90%;
    margin:40px auto;
}
.skill-content>div{
    /* border: 1px solid red; */
    width: fit-content;
    margin: auto;
}
.skill-content>div>div{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 80px;
    padding: 10px;
    
    margin: auto;
}
.skill-content>div>div>img{
    border: 1px solid crimson;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
@media (max-width:920px) {
    .skill-content>div>div{
    
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto;
        gap: 80px;
        padding: 10px;
        
        margin: auto;
    }
}
@media (max-width:640px) {
    .skill-content>div>div{
    
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        gap: 80px;
        padding: 10px;
        margin: auto;
    }
}
@media (max-width:340px) {
    .skill-content>div>div{
    
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
        gap: 80px;
        padding: 10px;
        margin: auto;
    }
}